# File: documentation/requirements.txt

# Defining the exact version will make sure things don't break
sphinx==3.5.3
sphinx-autorun==1.1.1
sphinx_rtd_theme==0.5.1
readthedocs-sphinx-search==0.1.0
pyyaml==5.4.1
Jinja2<3.1

